.env
.git
.idea
.pytest_cache
.venv
__pycache__
*.pyc
.DS_Store
cache_data
coverage-report
coverage.xml
integration-test-results.xml
logs
mutants
mutation-report
quality-dashboard
test-report
test-results.xml
